
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- styles -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Add Fuel Row</title>

    </head>

    <body>

    <ul>
        {% for button in buttons %}
            <a href="{{ button.url }}" class="back_btn">{{ button.text }}</a>
            <br>
        {% endfor %}
        </ul>

        <!-- Delete Row Buton -->
        <a href="{% url switch_action.url %}">
            <button class="back_btn"> {{ switch_action.btn_name }} </button>
        </a>

    <div class="container">
        <h1>Enter fuel details:</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{{ btn_txt }}</button>
    </form>


<style>

     .outlined-input {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        padding: 0.375rem 0.75rem;
        outline: none;
        transition: border-color 0.3s;
    }

    .outlined-input:focus {
        border-color: #007bff;
        box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
    }
</style>

    <!-- If ADDED row successfully -->
    {% if is_submitted_successfully %}
    <p>You entered data for: {{ is_submitted_successfully }}</p>
    {% endif %}

    <!-- If ADDED/DELETED row unsuccessfully -->
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <span class="message">{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}



</body>

</html>
