
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <!-- styles -->
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
        <title>Add Fuel Row</title>

    </head>

    <body>

    <ul>
        {% for button in buttons %}
            <a href="{{ button.url }}" class="back_btn">{{ button.text }}</a>
            <br>
        {% endfor %}
        </ul>

        <!-- Delete Row Buton -->
        <a href="{% url switch_action.url %}">
            <button class="back_btn"> {{ switch_action.btn_name }} </button>
        </a>

    <div class="container">
        <h1>Enter fuel details:</h1>
    </div>

    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit">{{ btn_txt }}</button>
    </form>

    <!-- If ADDED/DELETED row successfully -->
    {% if is_submitted_successfully %}
    <p>You entered data for: {{ is_submitted_successfully }}</p>
    {% endif %}

    <!-- If ADDED/DELETED row unsuccessfully -->
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <span class="message">{{ message }}</span>
        {% endfor %}
    </div>
    {% endif %}



</body>

</html>
