<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
</head>
<!-- styles -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<style>

    table {
      border-collapse: collapse;
      width: 100%;
      background-color: white;

    }

    th, td {
      text-align: left;
      padding: 8px;
      border: 1px solid #ddd;
      background-color: white;

    }

    th {
      background-color: #f2f2f2;
    }
    </style>

<!-- go back Button -->
<a href="{% url 'home' %}">
  <button class="back_btn">Go to Home Page</button>
</a>
    <h1>My historical Fuel data </h1>

    <table>
      <thead>
        <tr>


            <th>Date</th>
            <th>amount</th>
            <th>cost_per_day</th>
            <th>diff</th>
            <th>diff_days</th>
            <th>kms_after</th>
            <th>kms_before</th>
            <th>kms_per_l</th>
            <th>last_date</th>
            <th>place</th>
            <th>price_per_l</th>
            <th>price_total</th>
            <th>rolling_cost_per_day</th>
            <th>rolling_kms_per_l</th>

        </tr>
      </thead>
      <tbody>
        <br>

        {% for ds, row in data.items %}
          <tr>
            <td>{{ ds }}</td>
            <td>{{ row.amount }}</td>
            <td>{{ row.cost_per_day }}</td>
            <td>{{ row.diff }}</td>
            <td>{{ row.diff_days }}</td>
            <td>{{ row.kms_after }}</td>
            <td>{{ row.kms_before }}</td>
            <td>{{ row.kms_per_l }}</td>
            <td>{{ row.last_date }}</td>
            <td>{{ row.place }}</td>
            <td>{{ row.price_per_l }}</td>
            <td>{{ row.price_total }}</td>
            <td>{{ row.rolling_cost_per_day }}</td>
            <td>{{ row.rolling_kms_per_l }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

</html>
